@inherits LayoutComponentBase

<PageTitle>Zither Harp Music: Short</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <header class="top-row px-4">
            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" 
                placeholder="Tìm kiếm..." aria-label="Search">
            </form>

            <div class="justify-content-end">
                <button type="button" class="btn btn-outline-danger me-2">Đăng ký</button>
                <button type="button" class="btn btn-danger">Đăng nhập</button>
            </div>
        </header>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
