@page "/fetchdata"
@using Music.Shared
@using Music.Shared.Cores;
@using Music.Shared.Models;
@using System.Text;
@using System.Text.Json;
@inject HttpClient HttpClient

<PageTitle>Weather forecast</PageTitle>

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (artists == null)
{
    <p><em>Đang tải...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in artists)
            {
                <tr>
                    <td>@forecast.Id</td>
                    <td>@forecast.VietnameseName</td>
                    <td>@forecast.ChineseName</td>
                    <td>@forecast.ToString()</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Artist[]? artists;

    protected override async Task OnInitializedAsync()
    {
        artists = await HttpClient.GetFromJsonAsync<Artist[]>("apis/music/artists/get");
    }
}
