<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zitherharp.music.shorts">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:icon="@mipmap/ic_short_launcher"
        android:roundIcon="@mipmap/ic_short_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Short">
        <activity
            android:name=".ui.load.LoadActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.audio.AudioDetailActivity"/>
        <activity android:name=".ui.artist.ArtistDetailActivity"/>
        <activity android:name=".ui.shorts.ShortFullscreenActivity"/>
    </application>
</manifest>